#profile-pic {
  border-radius: 60%;
  margin-bottom: 10px;
  height: 220px;
  width: 220px;
  object-fit: cover;
}

h1 {
  margin-left: 5px;
  margin-right: 5px;
}

#nav-bar {
  background-color: #ea92b1;
}

.sticky-container {
  position: sticky;
  top: 1.5rem;
}

.title-date {
  display: flex;
  justify-content: space-between;
}

#Awards {
  flex-basis: 50%;
}

#Interests {
  flex-basis: 50%;
}

a {
  text-decoration: none;
}

@media (max-width: 991px) {
  #profile-pic {
    height: 120px;
    width: 120px;
  }
}
